<!DOCTYPE html>
<html>
<head>
    <title>AA_stat report</title>
    <style type="text/css">
        #pic {
            max-height: 80vh;
            max-width: 90vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        table {
          border: 1px solid black;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
%%%
<img id="pic" src="summary.png">
<script type="text/javascript">
  var anchors = document.getElementsByClassName('data col0');
  for(i = 0; i < anchors.length; i++) {
    anchors[i].children[0].onclick = function (e) {
      document.getElementById('pic').src = e.target.text + '.png';
    }
  }
  var binh = document.getElementById('binh');
  binh.onclick = function (e) {
    document.getElementById('pic').src = 'summary.png';
  }
</script>
</body>
</html>